body {
  font-size: 13px;
}

input[type=checkbox], input[type=radio] {
  margin-top: 2px;
}

.form-inline label, .form-inline .control-label, .form-inline .form-control {
  margin-right: 8px;
}

.check label, .radio label {
  margin-right: 10px;
}

.form-horizontal [class*='-offset-'] .radio-inline, .form-horizontal [class*='-offset-'] .checkbox-inline {
  padding-top: 0 !important;
}

iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.no-padding {
  padding: 0 !important;
}

ul, ol {
  list-style: none;
  padding: 0;
}

ul.list-style {
  list-style: disc;
  padding-left: 20px;
}

ol.list-style {
  list-style: decimal;
  padding-left: 20px;
}

.table > thead > tr > th {
  border-bottom: 1px solid #e4eaec;
  outline: none;
}

/* 
.table tr > th, .table tr>td{
	border-color: #e4eaec !important;
}
*/
/*
@media (min-width:768px){
	.form-inline label{padding-top:7px;}
	.form-inline .form-control{display: inline-block;}
	
}*/
.panel .fixed-table-container {
  border-top: none;
  border-bottom: none;
}

.panel .table, .ibox .table {
  margin-bottom: 0;
}

.btn {
  font-size: 13px;
  border-color: transparent;
  border-radius: 3px;
  transition: border .25s ease-out, color .25s ease-out, background-color .25s ease-out;
}
.btn:hover, .btn:focus {
  outline: none;
  color: #fff;
}
.btn:active, .btn.active {
  box-shadow: none;
}
.btn:active, .btn:active:hover, .btn:active:focus, .btn.active, .btn.active:hover, .btn.active:focus {
  outline: none;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  background-color: #D7D7DB;
  color: rgba(255, 255, 255, 0.75);
  opacity: .7;
  filter: alpha(opacity=70);
}
.btn > [class^='icon-'] {
  position: relative;
  margin: 0 1px;
  top: 1px;
}
.btn.btn-xs > [class^="icon-"] {
  top: 0;
}
.btn.btn-hg > [class^="icon-"] {
  top: 2px;
}
.btn.btn-rounded {
  border-radius: 50px;
}
.btn.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  font-size: 12px;
}

.btn-primary {
  color: #fff;
  background-color: #1c84c6;
  border-color: #1c84c6;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #1872ab;
  border-color: #1872ab;
}
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #146090;
  border-color: #146090;
}
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #146090;
  border-color: #146090;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  color: #fff;
  background-color: #1c84c6;
  border-color: #1c84c6;
}
.btn-primary .badge {
  color: #1c84c6;
  background-color: #fff;
}

.btn-primary-outline {
  color: #1c84c6;
  background-color: transparent !important;
  border-color: #1c84c6;
}
.btn-primary-outline:hover, .btn-primary-outline:focus, .btn-primary-outline.focus {
  color: #1c84c6;
  border-color: #135783;
}
.btn-primary-outline:active, .btn-primary-outline.active, .open > .btn-primary-outline.dropdown-toggle {
  color: #1c84c6;
  border-color: #092b40;
}
.btn-primary-outline.disabled, .btn-primary-outline.disabled:hover, .btn-primary-outline.disabled:focus, .btn-primary-outline.disabled.focus, .btn-primary-outline.disabled:active, .btn-primary-outline.disabled.active, .btn-primary-outline[disabled], .btn-primary-outline[disabled]:hover, .btn-primary-outline[disabled]:focus, .btn-primary-outline[disabled].focus, .btn-primary-outline[disabled]:active, .btn-primary-outline[disabled].active, fieldset[disabled] .btn-primary-outline, fieldset[disabled] .btn-primary-outline:hover, fieldset[disabled] .btn-primary-outline:focus, fieldset[disabled] .btn-primary-outline.focus, fieldset[disabled] .btn-primary-outline:active, fieldset[disabled] .btn-primary-outline.active {
  color: #1c84c6;
  border-color: #1c84c6;
}

.btn-secondary {
  color: #888;
  background-color: #E9E8E6;
  border-color: #E9E8E6;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary.focus {
  color: #888;
  background-color: #dbd9d6;
  border-color: #dbd9d6;
}
.btn-secondary:active, .btn-secondary.active, .open > .btn-secondary.dropdown-toggle {
  color: #888;
  background-color: #cccac5;
  border-color: #cccac5;
}
.btn-secondary:active:hover, .btn-secondary:active:focus, .btn-secondary:active.focus, .btn-secondary.active:hover, .btn-secondary.active:focus, .btn-secondary.active.focus, .open > .btn-secondary.dropdown-toggle:hover, .open > .btn-secondary.dropdown-toggle:focus, .open > .btn-secondary.dropdown-toggle.focus {
  color: #888;
  background-color: #cccac5;
  border-color: #cccac5;
}
.btn-secondary.disabled, .btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary.disabled.focus, .btn-secondary.disabled:active, .btn-secondary.disabled.active, .btn-secondary[disabled], .btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus, .btn-secondary[disabled].focus, .btn-secondary[disabled]:active, .btn-secondary[disabled].active, fieldset[disabled] .btn-secondary, fieldset[disabled] .btn-secondary:hover, fieldset[disabled] .btn-secondary:focus, fieldset[disabled] .btn-secondary.focus, fieldset[disabled] .btn-secondary:active, fieldset[disabled] .btn-secondary.active {
  color: #888;
  background-color: #E9E8E6;
  border-color: #E9E8E6;
}
.btn-secondary .badge {
  color: #E9E8E6;
  background-color: #888;
}

.btn-secondary-outline {
  color: #E9E8E6;
  background-color: transparent !important;
  border-color: #E9E8E6;
}
.btn-secondary-outline:hover, .btn-secondary-outline:focus, .btn-secondary-outline.focus {
  color: #E9E8E6;
  border-color: #c5c3bd;
}
.btn-secondary-outline:active, .btn-secondary-outline.active, .open > .btn-secondary-outline.dropdown-toggle {
  color: #E9E8E6;
  border-color: #a19d95;
}
.btn-secondary-outline.disabled, .btn-secondary-outline.disabled:hover, .btn-secondary-outline.disabled:focus, .btn-secondary-outline.disabled.focus, .btn-secondary-outline.disabled:active, .btn-secondary-outline.disabled.active, .btn-secondary-outline[disabled], .btn-secondary-outline[disabled]:hover, .btn-secondary-outline[disabled]:focus, .btn-secondary-outline[disabled].focus, .btn-secondary-outline[disabled]:active, .btn-secondary-outline[disabled].active, fieldset[disabled] .btn-secondary-outline, fieldset[disabled] .btn-secondary-outline:hover, fieldset[disabled] .btn-secondary-outline:focus, fieldset[disabled] .btn-secondary-outline.focus, fieldset[disabled] .btn-secondary-outline:active, fieldset[disabled] .btn-secondary-outline.active {
  color: #E9E8E6;
  border-color: #E9E8E6;
}

.btn-success {
  color: #fff;
  background-color: #8CC152;
  border-color: #8CC152;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #7db440;
  border-color: #7db440;
}
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #6d9d38;
  border-color: #6d9d38;
}
.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus, .open > .btn-success.dropdown-toggle:hover, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle.focus {
  color: #fff;
  background-color: #6d9d38;
  border-color: #6d9d38;
}
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  color: #fff;
  background-color: #8CC152;
  border-color: #8CC152;
}
.btn-success .badge {
  color: #8CC152;
  background-color: #fff;
}

.btn-success-outline {
  color: #8CC152;
  background-color: transparent !important;
  border-color: #8CC152;
}
.btn-success-outline:hover, .btn-success-outline:focus, .btn-success-outline.focus {
  color: #8CC152;
  border-color: #659234;
}
.btn-success-outline:active, .btn-success-outline.active, .open > .btn-success-outline.dropdown-toggle {
  color: #8CC152;
  border-color: #3e5a20;
}
.btn-success-outline.disabled, .btn-success-outline.disabled:hover, .btn-success-outline.disabled:focus, .btn-success-outline.disabled.focus, .btn-success-outline.disabled:active, .btn-success-outline.disabled.active, .btn-success-outline[disabled], .btn-success-outline[disabled]:hover, .btn-success-outline[disabled]:focus, .btn-success-outline[disabled].focus, .btn-success-outline[disabled]:active, .btn-success-outline[disabled].active, fieldset[disabled] .btn-success-outline, fieldset[disabled] .btn-success-outline:hover, fieldset[disabled] .btn-success-outline:focus, fieldset[disabled] .btn-success-outline.focus, fieldset[disabled] .btn-success-outline:active, fieldset[disabled] .btn-success-outline.active {
  color: #8CC152;
  border-color: #8CC152;
}

.btn-info {
  color: #fff;
  background-color: #23c6c8;
  border-color: #23c6c8;
}
.btn-info:hover, .btn-info:focus, .btn-info.focus {
  color: #fff;
  background-color: #1eacae;
  border-color: #1eacae;
}
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #1a9294;
  border-color: #1a9294;
}
.btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus, .open > .btn-info.dropdown-toggle:hover, .open > .btn-info.dropdown-toggle:focus, .open > .btn-info.dropdown-toggle.focus {
  color: #fff;
  background-color: #1a9294;
  border-color: #1a9294;
}
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  color: #fff;
  background-color: #23c6c8;
  border-color: #23c6c8;
}
.btn-info .badge {
  color: #23c6c8;
  background-color: #fff;
}

.btn-info-outline {
  color: #23c6c8;
  background-color: transparent !important;
  border-color: #23c6c8;
}
.btn-info-outline:hover, .btn-info-outline:focus, .btn-info-outline.focus {
  color: #23c6c8;
  border-color: #188687;
}
.btn-info-outline:active, .btn-info-outline.active, .open > .btn-info-outline.dropdown-toggle {
  color: #23c6c8;
  border-color: #0c4546;
}
.btn-info-outline.disabled, .btn-info-outline.disabled:hover, .btn-info-outline.disabled:focus, .btn-info-outline.disabled.focus, .btn-info-outline.disabled:active, .btn-info-outline.disabled.active, .btn-info-outline[disabled], .btn-info-outline[disabled]:hover, .btn-info-outline[disabled]:focus, .btn-info-outline[disabled].focus, .btn-info-outline[disabled]:active, .btn-info-outline[disabled].active, fieldset[disabled] .btn-info-outline, fieldset[disabled] .btn-info-outline:hover, fieldset[disabled] .btn-info-outline:focus, fieldset[disabled] .btn-info-outline.focus, fieldset[disabled] .btn-info-outline:active, fieldset[disabled] .btn-info-outline.active {
  color: #23c6c8;
  border-color: #23c6c8;
}

.btn-warning {
  color: #fff;
  background-color: #F6BB42;
  border-color: #F6BB42;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus {
  color: #fff;
  background-color: #f5b025;
  border-color: #f5b025;
}
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #efa50b;
  border-color: #efa50b;
}
.btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus, .open > .btn-warning.dropdown-toggle:hover, .open > .btn-warning.dropdown-toggle:focus, .open > .btn-warning.dropdown-toggle.focus {
  color: #fff;
  background-color: #efa50b;
  border-color: #efa50b;
}
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  color: #fff;
  background-color: #F6BB42;
  border-color: #F6BB42;
}
.btn-warning .badge {
  color: #F6BB42;
  background-color: #fff;
}

.btn-warning-outline {
  color: #F6BB42;
  background-color: transparent !important;
  border-color: #F6BB42;
}
.btn-warning-outline:hover, .btn-warning-outline:focus, .btn-warning-outline.focus {
  color: #F6BB42;
  border-color: #e19b0b;
}
.btn-warning-outline:active, .btn-warning-outline.active, .open > .btn-warning-outline.dropdown-toggle {
  color: #F6BB42;
  border-color: #986807;
}
.btn-warning-outline.disabled, .btn-warning-outline.disabled:hover, .btn-warning-outline.disabled:focus, .btn-warning-outline.disabled.focus, .btn-warning-outline.disabled:active, .btn-warning-outline.disabled.active, .btn-warning-outline[disabled], .btn-warning-outline[disabled]:hover, .btn-warning-outline[disabled]:focus, .btn-warning-outline[disabled].focus, .btn-warning-outline[disabled]:active, .btn-warning-outline[disabled].active, fieldset[disabled] .btn-warning-outline, fieldset[disabled] .btn-warning-outline:hover, fieldset[disabled] .btn-warning-outline:focus, fieldset[disabled] .btn-warning-outline.focus, fieldset[disabled] .btn-warning-outline:active, fieldset[disabled] .btn-warning-outline.active {
  color: #F6BB42;
  border-color: #F6BB42;
}

.btn-danger {
  color: #fff;
  background-color: #ED5565;
  border-color: #ED5565;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background-color: #ea394c;
  border-color: #ea394c;
}
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #e71e33;
  border-color: #e71e33;
}
.btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus, .open > .btn-danger.dropdown-toggle:hover, .open > .btn-danger.dropdown-toggle:focus, .open > .btn-danger.dropdown-toggle.focus {
  color: #fff;
  background-color: #e71e33;
  border-color: #e71e33;
}
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  color: #fff;
  background-color: #ED5565;
  border-color: #ED5565;
}
.btn-danger .badge {
  color: #ED5565;
  background-color: #fff;
}

.btn-danger-outline {
  color: #ED5565;
  background-color: transparent !important;
  border-color: #ED5565;
}
.btn-danger-outline:hover, .btn-danger-outline:focus, .btn-danger-outline.focus {
  color: #ED5565;
  border-color: #de182c;
}
.btn-danger-outline:active, .btn-danger-outline.active, .open > .btn-danger-outline.dropdown-toggle {
  color: #ED5565;
  border-color: #99101f;
}
.btn-danger-outline.disabled, .btn-danger-outline.disabled:hover, .btn-danger-outline.disabled:focus, .btn-danger-outline.disabled.focus, .btn-danger-outline.disabled:active, .btn-danger-outline.disabled.active, .btn-danger-outline[disabled], .btn-danger-outline[disabled]:hover, .btn-danger-outline[disabled]:focus, .btn-danger-outline[disabled].focus, .btn-danger-outline[disabled]:active, .btn-danger-outline[disabled].active, fieldset[disabled] .btn-danger-outline, fieldset[disabled] .btn-danger-outline:hover, fieldset[disabled] .btn-danger-outline:focus, fieldset[disabled] .btn-danger-outline.focus, fieldset[disabled] .btn-danger-outline:active, fieldset[disabled] .btn-danger-outline.active {
  color: #ED5565;
  border-color: #ED5565;
}

.btn-inverse {
  color: #fff;
  background-color: #414141;
  border-color: #414141;
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse.focus {
  color: #fff;
  background-color: #323232;
  border-color: #323232;
}
.btn-inverse:active, .btn-inverse.active, .open > .btn-inverse.dropdown-toggle {
  color: #fff;
  background-color: #222222;
  border-color: #222222;
}
.btn-inverse:active:hover, .btn-inverse:active:focus, .btn-inverse:active.focus, .btn-inverse.active:hover, .btn-inverse.active:focus, .btn-inverse.active.focus, .open > .btn-inverse.dropdown-toggle:hover, .open > .btn-inverse.dropdown-toggle:focus, .open > .btn-inverse.dropdown-toggle.focus {
  color: #fff;
  background-color: #222222;
  border-color: #222222;
}
.btn-inverse.disabled, .btn-inverse.disabled:hover, .btn-inverse.disabled:focus, .btn-inverse.disabled.focus, .btn-inverse.disabled:active, .btn-inverse.disabled.active, .btn-inverse[disabled], .btn-inverse[disabled]:hover, .btn-inverse[disabled]:focus, .btn-inverse[disabled].focus, .btn-inverse[disabled]:active, .btn-inverse[disabled].active, fieldset[disabled] .btn-inverse, fieldset[disabled] .btn-inverse:hover, fieldset[disabled] .btn-inverse:focus, fieldset[disabled] .btn-inverse.focus, fieldset[disabled] .btn-inverse:active, fieldset[disabled] .btn-inverse.active {
  color: #fff;
  background-color: #414141;
  border-color: #414141;
}
.btn-inverse .badge {
  color: #414141;
  background-color: #fff;
}

.btn-inverse-outline {
  color: #414141;
  background-color: transparent !important;
  border-color: #414141;
}
.btn-inverse-outline:hover, .btn-inverse-outline:focus, .btn-inverse-outline.focus {
  color: #414141;
  border-color: #1b1b1b;
}
.btn-inverse-outline:active, .btn-inverse-outline.active, .open > .btn-inverse-outline.dropdown-toggle {
  color: #414141;
  border-color: black;
}
.btn-inverse-outline.disabled, .btn-inverse-outline.disabled:hover, .btn-inverse-outline.disabled:focus, .btn-inverse-outline.disabled.focus, .btn-inverse-outline.disabled:active, .btn-inverse-outline.disabled.active, .btn-inverse-outline[disabled], .btn-inverse-outline[disabled]:hover, .btn-inverse-outline[disabled]:focus, .btn-inverse-outline[disabled].focus, .btn-inverse-outline[disabled]:active, .btn-inverse-outline[disabled].active, fieldset[disabled] .btn-inverse-outline, fieldset[disabled] .btn-inverse-outline:hover, fieldset[disabled] .btn-inverse-outline:focus, fieldset[disabled] .btn-inverse-outline.focus, fieldset[disabled] .btn-inverse-outline:active, fieldset[disabled] .btn-inverse-outline.active {
  color: #414141;
  border-color: #414141;
}

.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.2;
}

.btn-sm {
  padding: 6px 15px;
  font-size: 13px;
  line-height: 1.385;
}

.btn-lg {
  padding: 10px 20px;
  font-size: 15px;
  line-height: 1.435;
}
.btn-lg.btn-circle {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

.btn-hg {
  padding: 13px 26px;
  font-size: 18px;
  line-height: 1.227;
}

.btn-wide {
  padding-left: 25px;
  padding-right: 25px;
  min-width: 120px;
}

.btn-wide-sm {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 90px;
}

.btn-buy {
  color: #fff;
  background-color: #e8340e;
  position: relative;
  transition: all .3s;
  overflow: hidden;
  backface-visibility: hidden;
}
.btn-buy:before {
  position: absolute;
  top: -100%;
  left: 0;
  font-size: 200%;
  font-family: 'nubia';
  content: "\e9bd";
  width: 100%;
  height: 100%;
  transition: all .3s;
}
.btn-buy span {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all .3s;
  backface-visibility: hidden;
}
.btn-buy:hover:before {
  top: 0;
}
.btn-buy:hover span {
  transform: translateY(200%);
}
.btn-buy:active {
  outline: none;
  background-color: #b8290b;
}
.btn-buy:active:before {
  color: rgba(255, 255, 255, 0.7);
}

.btn-link {
  color: #505554;
  padding-right: 0px !important;
  padding-left: 0px !important;
  border-radius: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-left: 10px;
  margin-right: 10px;
}
.btn-link:hover, .btn-link:focus {
  color: #ee4834;
  text-decoration: none;
  border-bottom-color: #e95f46;
}
.btn-link:hover > [class^='icon-'], .btn-link:focus > [class^='icon-'] {
  color: #ee4834;
}
.btn-link.disabled, .btn-link.disabled:hover, .btn-link.disabled:focus, .btn-link[disabled], .btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
  color: #adadad;
  text-decoration: none;
}

.btn-link-inverse {
  color: #fff;
}
.btn-link-inverse:hover, .btn-link-inverse:focus {
  color: #ee4834;
  border-bottom-color: #f45441;
}

.btn-block {
  white-space: normal;
}

.btn-embossed {
  background-clip: padding-box;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset, 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}
.btn-embossed:active, .btn-embossed.active {
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15) inset;
}

.btn-social-email {
  color: #ffffff;
  background-color: #adadad;
}
.btn-social-email:hover, .btn-social-email:focus {
  background-color: #B6B6B6;
  border-color: #B6B6B6;
}
.btn-social-email:active, .btn-social-email.active {
  background: #666363;
  border-color: #505554;
}

.btn-social-linkedin {
  color: #ffffff;
  background-color: #367bb4;
}
.btn-social-linkedin:hover, .btn-social-linkedin:focus {
  background-color: #338ec4;
}
.btn-social-linkedin:active, .btn-social-linkedin.active {
  background-color: #00619a;
}

.btn-social-weibo {
  color: #ffffff;
  background-color: #eb7350;
}
.btn-social-weibo:hover, .btn-social-weibo:focus {
  background-color: #ef7a58;
}
.btn-social-weibo:active, .btn-social-weibo.active {
  background-color: #e5613b;
}

.btn-social-google {
  color: #ffffff;
  background-color: #d75a49;
  border-color: #d75a49;
}
.btn-social-google:hover, .btn-social-google:focus {
  background-color: #e46453;
}
.btn-social-google:active, .btn-social-google.active {
  background-color: #c84a39;
}

.btn-social-wechat {
  color: #ffffff;
  background-color: #61c032;
}
.btn-social-wechat:hover, .btn-social-wechat:focus {
  background-color: #64ce30;
}
.btn-social-wechat:active, .btn-social-wechat.active {
  background-color: #5aac31;
}

.btn-social-facebook {
  color: #ffffff;
  background-color: #4e69a1;
  border-color: #4e69a1;
}
.btn-social-facebook:hover, .btn-social-facebook:focus {
  background-color: #4a6fbd;
}
.btn-social-facebook:active, .btn-social-facebook.active {
  background-color: #28407d;
}

.btn-social-twitter {
  color: #ffffff;
  background-color: #0cc5f6;
  border-color: #00bdef;
}
.btn-social-twitter:hover, .btn-social-twitter:focus {
  background-color: #18ccfb;
}
.btn-social-twitter:active, .btn-social-twitter.active {
  background-color: #00a1cb;
}

.alert h4 {
  margin-bottom: 12px;
  font-weight: bold;
}
.alert .close {
  color: #000;
}
.alert .close:focus, .alert .close:active {
  outline: none;
}
.alert .alert-link {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.alert .alert-link:hover, .alert .alert-link:focus {
  opacity: 0.45;
  filter: alpha(opacity=45);
}
.alert .btn-link {
  color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.alert .btn-link:hover, .alert .btn-link:focus {
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.alert-info {
  background-color: #85d4f0;
  border-color: #4FC1E9;
}
.alert-warning {
  background-color: #ffe091;
  border-color: #FFCE54;
}
.alert-danger {
  background-color: #f38c97;
  border-color: #ED5565;
}
.alert-success {
  background-color: #bee298;
  border-color: #A0D468;
}

.panel.blank-panel {
  background: 0 0;
  margin: 0;
}

.blank-panel .panel-heading {
  padding-bottom: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background: 0 0;
  border-color: #ddd #ddd transparent;
  border-bottom: #f3f3f4;
  border-style: solid;
  border-width: 1px;
  color: #555;
  cursor: default;
}

.nav.nav-tabs li {
  background: 0 0;
  border: none;
}

.nav-tabs > li > a {
  color: #A7B1C2;
  font-weight: 600;
  padding: 10px 20px 10px 25px;
}

.nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
  background-color: #e6e6e6;
  color: #676a6c;
}

.tabs-container .panel-body {
  background: #fff;
  border: 1px solid #e7eaec;
  border-radius: 2px;
  padding: 20px;
  position: relative;
}

.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:focus, .tabs-container .nav-tabs > li.active > a:hover {
  background-color: #fff;
}

.tabs-container .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:focus, .tabs-container .nav-tabs > li.active > a:hover {
  border: 1px solid #e7eaec;
  border-bottom-color: transparent;
}

.tabs-container .nav-tabs {
  border-bottom: 1px solid #e7eaec;
}

.tabs-container .tab-pane .panel-body {
  border-top: none;
}

.tabs-container .tabs-left .tab-pane .panel-body, .tabs-container .tabs-right .tab-pane .panel-body {
  border-top: 1px solid #e7eaec;
}

.tabs-container .nav-tabs > li a:hover {
  background: 0 0;
  border-color: transparent;
}

.tabs-container .tabs-below > .nav-tabs, .tabs-container .tabs-left > .nav-tabs, .tabs-container .tabs-right > .nav-tabs {
  border-bottom: 0;
}

.tabs-container .tabs-left .panel-body {
  position: static;
}

.tabs-container .tabs-left > .nav-tabs, .tabs-container .tabs-right > .nav-tabs {
  width: 20%;
}

.tabs-container .tabs-left .panel-body {
  width: 80%;
  margin-left: 20%;
}

.tabs-container .tabs-right .panel-body {
  width: 80%;
  margin-right: 20%;
}

.tabs-container .pill-content > .pill-pane, .tabs-container .tab-content > .tab-pane {
  display: none;
}

.tabs-container .pill-content > .active, .tabs-container .tab-content > .active {
  display: block;
}

.tabs-container .tabs-below > .nav-tabs {
  border-top: 1px solid #e7eaec;
}

.tabs-container .tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-container .tabs-below > .nav-tabs > li > a {
  border-radius: 0 0 4px 4px;
}

.tabs-container .tabs-below > .nav-tabs > li > a:focus, .tabs-container .tabs-below > .nav-tabs > li > a:hover {
  border-top-color: #e7eaec;
  border-bottom-color: transparent;
}

.tabs-container .tabs-left > .nav-tabs > li, .tabs-container .tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-container .tabs-left > .nav-tabs > li > a, .tabs-container .tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-container .tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
}

.tabs-container .tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  border-radius: 4px 0 0 4px;
}

.tabs-container .tabs-left > .nav-tabs .active > a, .tabs-container .tabs-left > .nav-tabs .active > a:focus, .tabs-container .tabs-left > .nav-tabs .active > a:hover {
  border-color: #e7eaec transparent #e7eaec #e7eaec;
  *border-right-color: #fff;
}

.tabs-container .tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
}

.tabs-container .tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  border-radius: 0 4px 4px 0;
}

.tabs-container .tabs-right > .nav-tabs .active > a, .tabs-container .tabs-right > .nav-tabs .active > a:focus, .tabs-container .tabs-right > .nav-tabs .active > a:hover {
  border-color: #e7eaec #e7eaec #e7eaec transparent;
  *border-left-color: #fff;
  z-index: 1;
}

.well {
  padding: 10px;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.well blockquote {
  border-color: #CCD1D9;
}
.well-lg {
  padding: 20px;
}
.well-sm {
  padding: 5px;
}

/**
 * ibox
 */
.ibox {
  clear: both;
  margin-bottom: 25px;
  color: #434A54;
}
.ibox:before, .ibox:after {
  display: table;
}
.ibox-title {
  color: #434A54;
  background-color: #FFF;
  min-height: 42px;
  padding: 10px 15px;
  margin-bottom: -1px;
  border-style: solid;
  border-width: 4px 1px 1px;
  border-color: #E6E9ED;
}
.ibox-title h5 {
  display: inline-block;
  line-height: 18px;
  font-size: 14px;
  margin: 0 0 7px;
  float: left;
}
.ibox-title .label {
  float: left;
  margin-left: 4px;
}
.ibox-title .ibox-tools {
  display: inline-block;
  float: right;
  position: relative;
}
.ibox-title .ibox-tools a, .ibox-title .ibox-tools span {
  cursor: pointer;
  margin-left: 5px;
  color: #434A54;
}
.ibox-title .ibox-tools.open .dropdown-menu {
  left: auto;
  right: 0;
}
.ibox-content {
  clear: both;
  background-color: #FFF;
  padding: 10px 20px;
  border: 1px solid #E6E9ED;
}
.ibox.collapsed .ibox-content {
  display: none;
}

.widget-box {
  position: relative;
  border: 1px solid #e7e7e7;
  border-bottom: none;
  margin-bottom: 12px;
}
.widget-box .widget-title, .widget-box .widget-header {
  background: #F7F7F7;
  border-bottom: 1px solid #e7e7e7;
  height: 36px;
  line-height: 36px;
}
.widget-box .widget-title h5, .widget-box .widget-header h5 {
  float: left;
  padding-left: 12px;
  font-size: 15px;
  line-height: 36px;
  margin: 0;
  color: #555;
}
.widget-box .widget-title .widget-tools, .widget-box .widget-header .widget-tools {
  position: relative;
  float: right;
  display: inline-block;
  padding: 0 10px;
  line-height: 36px;
}
.widget-box .widget-header {
  min-height: 36px;
  background: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f9f9f9, #eee 100%);
  background-image: linear-gradient(to bottom, #f9f9f9, #eee 100%);
  background-repeat: repeat-x;
}
.widget-box .widget-title .nav-tabs {
  border-bottom: 0 none;
  margin: 0;
}
.widget-box .widget-title .nav-tabs li {
  padding: 0px 12px;
  line-height: 36px;
}
.widget-box .widget-title .nav-tabs li a {
  text-decoration: none;
  padding: 3px;
  font-weight: 700;
  border: none;
  line-height: 36px;
  color: #555;
}
.widget-box .widget-title .nav-tabs li.active a {
  background: none;
  border: none;
  border-bottom: 2px solid #075CA4;
}
.widget-box .widget-content {
  padding: 10px 12px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #fff;
}

.agile-list li {
  background-color: #F5F7FA;
  border: 1px solid #E6E9ED;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 2px;
}
.agile-list li .agile-detail {
  margin-top: 5px;
  line-height: 22px;
  font-size: 12px;
}
.agile-list .agile-primary {
  border-left: 3px solid #1c84c6;
}
.agile-list .agile-success {
  border-left: 3px solid #8CC152;
}
.agile-list .agile-danger {
  border-left: 3px solid #ED5565;
}
.agile-list .agile-info {
  border-left: 3px solid #23c6c8;
}

/**
 * timeline
 * --------------------------------------------------
 */
.timeline dl {
  position: relative;
  top: 0;
  margin: 0;
  padding: 20px 0;
}
.timeline dl:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  content: '';
  background-color: #CCD1D9;
  z-index: 100;
}
.timeline dl dt {
  position: relative;
  top: 30px;
  padding: 3px 5px;
  margin: 0 auto 30px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #AAB2BD;
  font-weight: normal;
  color: #FFF;
  width: 120px;
  z-index: 200;
}
.timeline dl dd {
  position: relative;
  z-index: 200;
}
.timeline dl dd .circ {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -11px;
  border: 4px solid #F5F7FA;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #4FC1E9;
  z-index: 200;
}
.timeline dl dd .time {
  position: absolute;
  top: 31px;
  left: 50%;
  padding: 10px 20px;
  width: 100px;
  display: inline-block;
  color: #4FC1E9;
}
.timeline dl dd .events {
  position: relative;
  margin-top: 31px;
  padding: 10px 10px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFF;
  width: 47%;
}
.timeline dl dd .events:before {
  position: absolute;
  top: 12px;
  width: 0;
  height: 0;
  content: '';
  border-width: 6px;
  border-style: solid;
}
.timeline dl dd .events .events-object {
  margin-right: 10px;
}
.timeline dl dd .events .events-body {
  overflow: hidden;
  zoom: 1;
}
.timeline dl dd .events .events-body .events-heading {
  margin: 0 0 10px;
  font-size: 14px;
}
.timeline dl dd.pos-right .time {
  margin-left: -100px;
  text-align: right;
}
.timeline dl dd.pos-right .events {
  float: right;
}
.timeline dl dd.pos-right .events:before {
  left: -12px;
  border-color: transparent #FFF transparent transparent;
}
.timeline dl dd.pos-left .time {
  margin-left: 0;
  text-align: left;
}
.timeline dl dd.pos-left .events {
  float: left;
}
.timeline dl dd.pos-left .events:before {
  right: -12px;
  border-color: transparent transparent transparent #FFF;
}

@media screen and (max-width: 767px) {
  .timeline dl:before {
    left: 60px;
  }
  .timeline dl dt {
    margin: 0 0 30px;
  }
  .timeline dl dd .circ {
    left: 60px;
  }
  .timeline dl dd .time {
    left: 0;
  }
  .timeline dl dd.pos-left .time {
    margin-left: 0;
    padding: 10px 0;
    text-align: left;
  }
  .timeline dl dd.pos-left .events {
    float: right;
    width: 84%;
  }
  .timeline dl dd.pos-left .events:before {
    left: -12px;
    border-color: transparent #FFF transparent transparent;
  }
  .timeline dl dd.pos-right .time {
    margin-left: 0;
    padding: 10px 0;
    text-align: left;
  }
  .timeline dl dd.pos-right .events {
    float: right;
    width: 84%;
  }
}

/*# sourceMappingURL=bootflat.css.map */
