// Variables
//------------------------------------------------------
$background-color:                 		 $white !default;
$tab-background-color:                 $lightgray-dark !default;
$tab-background-color-hover:           $lightgray-light !default;
$tab-radius:                           4px !default;

$tab-font-color:                       $darkgray-dark !default;
$tab-font-color-acitve:                $white !default;

$tab-aside-width:                      54px !default;

$tab-border-color:                     $mediumgray-light !default;
// Exports
//------------------------------------------------------

@include exports("tab") {

  /**
   * tab
   * --------------------------------------------------
   */
.panel{
  .nav-tabs {
      border-bottom: none;
      background-color: $tab-background-color;
      @include radius($type: border-radius, $value: $tab-radius $tab-radius 0 0);

      & > li {
        margin-bottom: 0;
        border-left: 1px solid $tab-border-color;
      }
      & > li:first-child {
        border-left: none;
      }
      & > li > a {
          margin-right: 0;
          border: none;
          @include radius($type: border-radius, $value: 0);
          color: $tab-font-color;
      }
      & > li:first-child > a {
        @include radius($type: border-radius, $value: $tab-radius 0 0 0);
      }
      & > li > a:focus,
      & > li > a:hover {
          border: none;
          background-color: $tab-background-color-hover; 
      }
      & > li.active > a, 
      & > li.active > a:focus, 
      & > li.active > a:hover {
          border: none;
          background-color: $tab-font-color-acitve !important;
      }

      & .dropdown-toggle,
      & .dropdown-toggle:hover,
      & .dropdown-toggle:focus {
          color: $tab-font-color;
      }

      & li.dropdown.open .dropdown-toggle {
          color: $tab-font-color;
          background-color: $tab-background-color-hover;          
      } 
      & li.dropdown.active.open .dropdown-toggle {
          color: $tab-font-color;
      }
      & li.dropdown.active.open .dropdown-toggle .caret,
      & li.dropdown.active .dropdown-toggle .caret {
          border-top-color: $tab-font-color;
          border-bottom-color: $tab-font-color;
      }
      & li.dropdown.open .caret,
      & li.dropdown.open.active .caret,
      & li.dropdown.open a:hover .caret,
      & li.dropdown.open a:focus .caret,
      & .dropdown-toggle .caret,
      & .dropdown-toggle:hover .caret,
      & .dropdown-toggle:focus .caret {
          border-top-color: $tab-font-color;
          border-bottom-color: $tab-font-color;
      }

      &.nav-justified > li > a {
          margin-bottom: 0;
          text-align: center;
      }
      &.nav-justified > .dropdown .dropdown-menu {
          top: auto;
          left: auto;
      }
      &.nav-justified > li > a {
          @include radius($type: border-radius, $value: 0);
      }
      &.nav-justified > li:first-child > a {
          @include radius($type: border-radius, $value: $tab-radius 0 0 0);        
      }
      &.nav-justified > li:last-child > a {
          @include radius($type: border-radius, $value: 0 $tab-radius 0 0);        
      }
      &.nav-justified > .active > a,
      &.nav-justified > .active > a:hover,
      &.nav-justified > .active > a:focus {
          border: none;
      }
      @media (min-width: 768px) {
        &.nav-justified > li > a {
            border-bottom: none;
            @include radius($type: border-radius, $value: 0);
        }
        &.nav-justified > .active > a,
        &.nav-justified > .active > a:hover,
        &.nav-justified > .active > a:focus {
            border-bottom: none;
        }
      }

      @at-root .tab-content {
          padding: 10px;
      }
  }

  .tabs-below {
      & .nav-tabs {
          @include radius($type: border-radius, $value: 0 0 $tab-radius $tab-radius);
      }
      & .nav-tabs > li:first-child > a {
          @include radius($type: border-radius, $value: 0 0 0 $tab-radius);
      }
      & .nav-tabs.nav-justified > li:last-child > a {
          @include radius($type: border-radius, $value: 0 0 $tab-radius 0);        
      }
  }

  .tabs-left, .tabs-right{
  	&:before, &:after{
    	display: table;
    	content: '';
    	clear: both;
    }
    .nav-tabs{
	  	width: 20%;
	  	li{
	      float: none;
	      border-left: none;
	      border-top: 1px solid $tab-border-color; 
	    }
	  }
  }
  .tabs-left .nav-tabs > li:first-child,
  .tabs-right .nav-tabs > li:first-child {
      border-top: none;
  }
  .tabs-left .nav-tabs > li > a,
  .tabs-right .nav-tabs > li > a {
      min-width: $tab-aside-width;
      margin-right: 0;
      text-align: center;
  }
  .tabs-left {
    & .nav-tabs {
        float: left;
        margin-right: 19px;
        @include radius($type: border-radius, $value: $tab-radius 0 0 $tab-radius);
    }
    & .nav-tabs > li:first-child > a {
        @include radius($type: border-radius, $value: $tab-radius 0 0 0);      
    }
    & .nav-tabs > li:last-child > a {
        @include radius($type: border-radius, $value: 0 0 0 $tab-radius);      
    }
    & .tab-content{
    	margin-left: 20%;
    	width: 80%;
    }
  }
  .tabs-right {
    & .nav-tabs {
        float: right;
        margin-left: 19px;
        @include radius($type: border-radius, $value: 0 $tab-radius $tab-radius 0);
    }
    & .nav-tabs > li:first-child > a {
        @include radius($type: border-radius, $value: 0 $tab-radius 0 0);      
    }
    & .nav-tabs > li:last-child > a {
        @include radius($type: border-radius, $value: 0 0 $tab-radius 0);      
    }
    & .tab-content{
    	margin-right: 20%;
    	width: 80%;
    }
  }

}
}


.tabs-container{
	.nav-tabs{
		border-bottom: 1px solid $tab-border-color;

		&>li.active a, &>li.active a:hover, &>li.active a:focus{
				border: 1px solid $tab-border-color;
    		border-bottom-color: transparent;
    		background-color: $background-color;
		}
		&>li a:hover{
			background:none;
			border-color: transparent
		}
	}
	.tabs-body{
		background-color: $background-color;
		border:1px solid $tab-border-color;
		border-top: none;
		border-radius: 0 0 $tab-radius $tab-radius;
		padding: 12px;
		position: relative;
		&:before, &:after{
			display: table;
			content: ' ';
		}
		//TODO height???
		&:after{
			clear: both;
		}
	}

	.tabs-left, .tabs-right{
		.nav-tabs{
			width: 20%;
			&>li{
				float: none;
				border:none;
				&>a{min-width: 54px; text-align: center;}
			}
		}	
	}
		
	.tabs-left, .tabs-right, .tabs-below{
		.nav-tabs{border-bottom: none;}
		.tabs-body{border-top: 1px solid $tab-border-color;}
	}
	.tabs-left{
		.nav-tabs{
			float: left;
			&>li>a{
				margin-right: -1px;
				border-radius: $tab-radius 0 0 $tab-radius;
			}
			.active a,.active a:hover, .active a:focus{
				border-color: $tab-border-color transparent $tab-border-color $tab-border-color;
			}
		}
		.tabs-body{position: static; margin-left: 20%;width: 80%; border-top-left-radius: 0;}
	}
	.tabs-right{
		.nav-tabs{
			float: right;
			&>li>a{
				margin-left: -1px;
				border-radius: 0px $tab-radius $tab-radius 0;
			}
			.active a,.active a:hover, .active a:focus{
				z-index: 1;
				border-color: $tab-border-color $tab-border-color $tab-border-color transparent;
			}
		}
		.tabs-body{
			margin-right: 20%;width: 80%;  
			border-top-right-radius: 0;
		}
	}
	.tabs-below{
		.nav-tabs{
			border-top: 1px solid $tab-border-color;
			&>li{
				margin-top: -1px;
				margin-bottom: 0;
				border-top: none;
				&>a{
					border-radius: 0px 0 $tab-radius $tab-radius;
				}
			}
			.active a,.active a:hover, .active a:focus{
				border-color: transparent $tab-border-color $tab-border-color $tab-border-color;
			}
		}
		.tabs-body{
			border-bottom: none;
			border-bottom-left-radius: 0;
		}
	}
}