// Variables
//------------------------------------------------------
$font-size-base:          13px;
$font-size-large:         ceil(($font-size-base * 1.25));		// ~16px    18px
$font-size-small:         floor(($font-size-base * 0.95)); 	// ~12px    13px

$font-size-h1:            ceil(($font-size-base * 2.4)); 		// ~30px   	34px
$font-size-h2:            round(($font-size-base * 2.15)); 	// ~28px  	30px
$font-size-h3:            round(($font-size-base * 1.85)); 	// ~24px    26px
$font-size-h4:            round(($font-size-base * 1.25)); 	// ~16px    18px
$font-size-h5:            $font-size-base;									// ~13px  
$font-size-h6:            floor(($font-size-base * 0.95)); 	// ~12px    13px

$body-font-color:            $darkgray-dark !default;
$body-background-color:      $white !default;

$link-font-color:            $aqua-dark !default; 
$link-font-color-hover:      $aqua-light !default; 

$blockquote-border-color:    $mediumgray-light !default;

$image-radius:               4px !default;

// Exports
//------------------------------------------------------

@include exports("typography") {

  /**
   * typography
   * --------------------------------------------------
   */

  body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    // font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: $body-font-color;
    background-color: $body-background-color;
  }
  a {
    color: $link-font-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $link-font-color-hover;
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }
  h1,h2,h3,h4,h5,h6,
  .h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: inherit;
  }
//h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,
//.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small {
//  color: #e7e9ec;
//}
  h1,h2,h3 {
    margin-top: 15px;
    margin-bottom: 12px;
    font-weight: 500;
  }
  h4,h5,h6 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 700;
  }

  h1,.h1 {
    font-size: $font-size-h1
  }
  h2,.h2 {
    font-size: $font-size-h2;
  }
  h3,.h3 {
    font-size: $font-size-h3;
  }
  h4,.h4 {
    font-size: $font-size-h4;
  }
  h5,.h5 {
    font-size: $font-size-h5;
  }
  h6,.h6 {
    font-size: $font-size-h6;
  }
  blockquote {
  	padding: 8px 12px;
    border-left: 3px solid $blockquote-border-color;
  }
  .img-rounded {
    @include radius($type: border-radius, $value: $image-radius);
  }
  .img-comment {
    font-size: 15px;
    line-height: 1.2;
    font-style: italic;
    margin: 24px 0;
  }
	.page-content{
		padding:10px 15px;
		.page-header{
			margin: 0 0 12px;
    	border-bottom: 1px solid #e2e2e2;
    	padding-bottom: 16px;
    	padding-top: 7px;
    	h1{
    		margin: 0 8px;
    		padding: 0;
    		font-size: 24px;
    	}
    	h2{
    		margin: 0 8px;
    		padding: 0;
    		font-size: 18px;
    	}
		}
	}
}


