@mixin button-variant($color, $border, $background){
	color: $color;
	background-color: $background;
	border-color: $border;
	
	&:hover, &:focus, &.focus{
		color: $color;
		background-color: darken($background, 6%);
		border-color: darken($border, 6%);
	}
	&:active, &.active, .open > &.dropdown-toggle{
		color: $color;
		background-color: darken($background, 12%);
		border-color: darken($border, 12%);
		&:hover, &:focus, &.focus {
	      color: $color;
	      background-color: darken($background, 12%);
	          border-color: darken($border, 12%);
	    }
	}
	
	//fieldset[disabled] button
	&.disabled, &[disabled], fieldset[disabled] & {
		&, &:hover, &:focus, &.focus, &:active, &.active{
			color: $color;
			background-color: $background;
			border-color: $border;
		}
	}
	.badge{
		color: $background;
    	background-color: $color;
	}
}
@mixin button-ouline($color){
	color: $color;
	background-color: transparent !important;
	border-color: $color;
	
	&:hover, &:focus, &.focus{
		color: $color;
		border-color: darken($color, 15%);
	}
	&:active, &.active, .open > &.dropdown-toggle{
		color: $color;
		border-color: darken($color, 30%);
	}
	&.disabled, &[disabled], fieldset[disabled] & {
		&, &:hover, &:focus, &.focus, &:active, &.active{
			color: $color;
			border-color: $color;
		}
	}
}

@mixin button-size($padding-v, $padding-h, $font-size, $line-height, $border-radius:50px){
	padding: $padding-v $padding-h;
	font-size: $font-size;
	line-height: $line-height;
}
